<tr>
	<th> <%= image_tag("#{match.avatar(:thumb)}",size: "50x50" ) %></th>
	<td><%= link_to(match.name, profile_user_path(match.id) ) %></td>
	<td><%= match.updated_at.strftime('%m/%d/%y') %></td>

	<td> <%= match.find_friendship(match).first.uuid %></td>
	<td class="text-right">
		
		<a href="" class="chatbtn" data-toggle="tooltip" id="<%= match.find_friendship(match).first.uuid %>" data-placement="top" title="Chat"><i class="fa fa-envelope"></i></a>




		<%= link_to '<i class="fa fa-times"></i>'.html_safe,  delete_friendship_path(friend_id: match.id), method: "delete", data: {
			toggle: "tooltip" ,placement: "top",
    confirm: 'Are you sure you want to unmatch?',
    :'confirm-button-text' => 'Yes',
    :'cancel-button-text' => 'No',
    type: 'error',
    text: "you should try anything atleast once.. ;)",
    }  ,title: "Unmatch" %>
	</td>
</tr>