<li id= "<%= user.id %>" class="profile-box">
	<div class="img"> <%= image_tag user.avatar.url(:medium), height:"100%" ,width: "370" %>	</div>
	<div class="user-name pull-left">
		<%= link_to profile_user_path(user.id) ,class:"" do %>
		<%= name(user) %> , <%= age(user) %> 
		<% end %>
	</div>
	<div class="user-location text-right">
		<i class="fa fa-map-marker"></i> <%= location(user) %>
	</div>
	<%= link_to "", create_friendship_path(friend_id: user.id) , id: "user_#{user.id}",method: :post, remote: true %>
</li>