<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Matched On</th>
				<th></th>
			</tr>
		</thead>
		<tbody>


    <% @matches.each do |match| %>
      <tr>
  <th> <%= image_tag("#{match.avatar(:thumb)}",size: "50x50" ) %></th>
  <td><%= link_to(match.name, profile_user_path(match.id),class: "match-name" ) %></td>
  <td><%= match.updated_at.strftime('%m/%d/%y') %></td>

  <td> <% match.find_friendship(current_user, match).uuid %></td>
  <td class="text-right">
    
    <a href="" class="chatbtn" data-toggle="tooltip" id="<%= match.find_friendship(current_user,match).uuid %>" data-placement="top" title="Chat"><i class="fa fa-envelope"></i></a>




    <%= link_to '<i class="fa fa-times"></i>'.html_safe,  delete_friendship_path(friend_id: match.id), method: "delete", data: {
      toggle: "tooltip" ,placement: "top",
    confirm: 'Are you sure you want to unmatch?',
    :'confirm-button-text' => 'Yes',
    :'cancel-button-text' => 'No',
    type: 'error',
    text: "you should try anything atleast once.. ;)",
    }  ,title: "Unmatch" %>
  </td>
</tr>

    <% end %>
		
		</tbody>

	</table>

</div>




<div class="row addwindow">
</div>


<script type="text/javascript">
	
		$(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })


    //$('.example-chat').hide();

		$(document).ready(function(){

      var firebaseid, messagesRef;

      $('.chatbtn').click(function(e){
        e.preventDefault();
        firebaseid = null
        firebaseid = $(this).attr('id');
        console.log(firebaseid)

        initNewChat(firebaseid)

      })

        function initNewChat(firebaseid){
          var msgWindow = '<div class="example-chat l-demo-container"><ul id="example-messages"' + 'data-id =' + firebaseid +' class="example-chat-messages"></ul> <footer> <input type="text" id="messageInput" placeholder="Type a message..."> </footer></div>'
            $('.example-chat').fadeIn();

              messagesRef = new Firebase('https://matchr.firebaseio.com/matches/' + firebaseid );
            $('.addwindow').prepend(msgWindow);
            var dataId = $('#example-messages').data('id')

            $('*[data-id ="22"]')
            console.log(dataId)

            var messageList = $('ul').filter(function(){
                   return $(this).attr('data-id') === firebaseid;
            })

  

  var messageField = $('#messageInput');
  var nameField = $('#nameInput');
  //var messageList = $('#example-messages');



//  LISTEN FOR KEYPRESS EVENT
  messageField.keypress(function (e) {
    if (e.keyCode == 13) {
      //FIELD VALUES
      var username = "<%= current_user.name %>"
      var message = messageField.val();

      //SAVE DATA TO FIREBASE AND EMPTY FIELD
      messagesRef.push({name:username, text:message});
      messageField.val('');
    }
  });

  // Add a callback that is triggered for each chat message.
  messagesRef.limitToLast(10).on('child_added', function (snapshot) {
    //GET DATA
    var data = snapshot.val();
    var username = data.name
    var message = data.text;

    //CREATE ELEMENTS MESSAGE & SANITIZE TEXT
    var messageElement = $("<li class=''>");
    var nameElement = $("<strong class='example-chat-username'></strong>")
    nameElement.text(username);
    messageElement.text(message).prepend(nameElement);

    //ADD MESSAGE
    messageList.append(messageElement)

    //SCROLL TO BOTTOM OF MESSAGE LIST
    messageList[0].scrollTop = messageList[0].scrollHeight;
  });
   
   }

})
</script>