<div class="container">
	<div class="wrap">
		<div class="profile-box">
			<div class="img">
				<%= image_tag("#{@user.avatar}",height:"200px") %>
			</div>
			<div class="user-name pull-left  ">
				<%= name(@user) %>  <%= age(@user) %>					</div>

			<div class="user-location  text-right "><i class="fa fa-map"></i> <%= location(@user) %></div>

			<div class="description">
			<h4 class="text-uppercase"><small>description</small></h4>
			<p class="small">
				<%= @user.bio %>
			</p>
		</div>
	</div>
</div>

